# Hugging Face Configuration
# Get your token with READ access at https://huggingface.co/settings/tokens
# (Required only if the Hugging Face model repository is private)
HF_TOKEN=hf_xxxxxxxxxxxxxxxxxxxx
